body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    background: #222;
    color: #fff;
}
#key {
    font-size: 40px;
    margin: 20px 0;
}
#countdown {
    font-size: 20px;
<<<<<<< HEAD
}
=======
}
>>>>>>> f4ba75b8d1255d924b9cb84ee4347e8ad1102cdf
